* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  padding-inline-start: 24px;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}