/* breakpoint for mobile view is 768px; */

:root {
  --header-bg-color: red;
  --header-color: white;
  --header-hover-bg-color: blue;
  --header-hover-color: yellow;
  --header-selected-bg-color: green;
  --header-selected-color: cyan;

  --blogPost-publishDate-color: grey;

  --blured-container-bg-color: rgba(0, 0, 0, 0.8);

  --blured-content-z-index: 10;
}