.bluredContainer {
  z-index: var(--blured-content-z-index);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--blured-container-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.dismissButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 0.5rem;

}